/* Provide sufficient contrast against white background */
a {
  color: #55B2B8;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
