<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>editor</title>
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="/css/edit.css">

    <meta property="og:title" content="Live Share Editor">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://live-share-editor.azurewebsites.net">
    <meta property="og:image" content="https://live-share-editor.azurewebsites.net/img/logo.png">
    <meta property="og:description" content="リアルタイムでソースコードを共有するオンラインエディタ - Live Share Editor">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@lz650sss">
    <meta name="twitter:title" content="Live Share Editor">
    <meta name="twitter:description" content="リアルタイムでソースコードを共有するオンラインエディタ - Live Share Editor">
    <meta name="twitter:image" content="https://live-share-editor.azurewebsites.net/img/logo.png">
    <meta name="twitter:url" content="https://live-share-editor.azurewebsites.net" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/edit.js"></script>
</head>

<body>
    <select id="lang-select">
        <option value="c_cpp">C/C++</option>
        <option value="csharp">C#</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="php">PHP</option>
        <option value="ruby">Ruby</option>
        <option value="golang">Go</option>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="javascript">JavaScript</option>
        <option value="markdown">Markdown</option>
        <option value="plain_text">Plain Text</option>
    </select>
    <select id="theme-select">
        <option value="monokai">monokai</option>
        <option value="cobalt">cobalt</option>
        <option value="terminal">terminal</option>
        <option value="twilight">twilight</option>
        <option value="chrome">chrome</option>
        <option value="eclipse">eclipse</option>
        <option value="github">github</option>
        <option value="textmate">textmate</option>
        <option value="xcode">xcode</option>
        <option value="dreamweaver">dreamweaver</option>
    </select>
    <a id="session-link"></a>
    <div id="editor"></div>
</body>

</html>