<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>viewer</title>
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="/css/index.css">

    <meta property="og:title" content="Live Share Editor">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://live-share-editor.azurewebsites.net">
    <meta property="og:image" content="https://live-share-editor.azurewebsites.net/img/logo.png">
    <meta property="og:description" content="リアルタイムでソースコードを共有するオンラインエディタ - Live Share Editor">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@lz650sss">
    <meta name="twitter:title" content="Live Share Editor">
    <meta name="twitter:description" content="リアルタイムでソースコードを共有するオンラインエディタ - Live Share Editor">
    <meta name="twitter:image" content="https://live-share-editor.azurewebsites.net/img/logo.png">
    <meta name="twitter:url" content="https://live-share-editor.azurewebsites.net" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134626763-1"></script>
    <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            window.cookieconsent.initialise({
                palette: {
                    popup: {
                        background: '#252e39'
                    },
                    button: {
                        background: '#14a7d0'
                    }
                },
                theme: 'edgeless',
                position: 'top',
                content: {
                    message: 'このアプリケーションはアクセス解析のためにGoogle Analytics、cookieを使用します．',
                    dismiss: '同意する',
                    link: 'プライバシーポリシー',
                    href: 'https://live-share-editor.azurewebsites.net/privacypolicy'
                },
                onInitialise: function (status) {
                    console.info('enable ga');
                    window.dataLayer = window.dataLayer || [];
                    function gtag() { dataLayer.push(arguments); }
                    gtag('js', new Date());

                    gtag('config', 'UA-134626763-1');
                },
                onPopupClose: function () {
                    console.info('enable ga');
                    window.dataLayer = window.dataLayer || [];
                    function gtag() { dataLayer.push(arguments); }
                    gtag('js', new Date());

                    gtag('config', 'UA-134626763-1');
                }
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    <select id="theme-select">
        <option value="monokai">monokai</option>
        <option value="cobalt">cobalt</option>
        <option value="terminal">terminal</option>
        <option value="twilight">twilight</option>
        <option value="chrome">chrome</option>
        <option value="eclipse">eclipse</option>
        <option value="github">github</option>
        <option value="textmate">textmate</option>
        <option value="xcode">xcode</option>
        <option value="dreamweaver">dreamweaver</option>
    </select>
    <a href="/edit">editor</a>
    <div id="editor"></div>
    <a class="github-button" href="https://github.com/Kadoshita/live-share-editor" data-size="large"
        data-show-count="true" aria-label="Star Kadoshita/live-share-editor on GitHub">Star</a>
    <a class="github-button" href="https://github.com/Kadoshita/live-share-editor/issues" data-size="large"
        data-show-count="true" aria-label="Issue Kadoshita/live-share-editor on GitHub">Issue</a>
</body>

</html>