html, body {
    height: 95%;
}

#run-code{
    height: 20px;
    width: 64px;
}
#editor {
    height: 80%;
}
#cursor-position, #text-count{
    display: inline;
}
#std-input{
    width: 100%;
    height: 48px;
}
#run-result{
    width: 100%;
    height: 48px;
}