html, body {
    height: 95%;
}

#editor {
    height: 80%;
}
#cursor-position, #text-count{
    display: inline;
}
#std-input{
    width: 100%;
    height: 48px;
}
#run-result{
    width: 100%;
    height: 48px;
}